/* general style */

.container-1 div {
  border: 1px #cccccc solid; /** style with some border araund it */
  padding: 10px; /**give more space in all derection */
}

.container-2 div {
  border: 1px #837474 solid;
  padding: 10px;
  margin-top: 20px;
}
.container-3 div {
  border: 1px #443434 solid;
  padding: 10px;
  margin-top: 20px;
}
.container-4 div,
.container-5 div {
  border: 1px #3b531f solid;
  padding: 10px;
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}

/* display flex  and sizeing the boxes*/

.container-1 {
  /* it is grabin as element from html */
  display: flex; /**which it make childern element go flex or go horizontly side by side */
}

.box-1 {
  flex: 2;
}
.box-2 {
  flex: 1;
}
.box-3 {
  flex: 1;
}

/* order flex box */

.container-2 {
  display: flex;
}

.box-4 {
  order: 2;
  color: #7e2b2b;
}

.box-5 {
  order: 1;
}
.box-6 {
  order: 3;
}

/* align the flex boxes */

.container-3 {
  display: flex;
  align-items: center; /**put the box in the center allso the content of it in the center */
  /*align-items: flex-end; */ /**put the box in the bottom allso the contetnt of it in the bootom */
  /* align-items: flex-start;  */ /**put the box in the top allso the contetnt of it in the top */
  /* align-content: stretch;  */ /** that is from default of align items */
}

.box-7 {
  flex: 2;
  order: 2;
  color: #7e2b2b;
}

.box-8 {
  flex: 1;
  order: 1;
}
.box-9 {
  flex: 1;
  order: 3;
}

/* change the direction of flex_es */

.container-4 {
  display: flex;
  flex-direction: column;
}

/* widht and margin of flex */
.container-5 {
  display: flex;
  justify-content: space-around; /** put the margin ourond the boxes */
}

.container-5-box {
  width: 30%;
}
